@import "tailwindcss";

@theme inline {
  --color-background: #000;
  --color-foreground: #f9fafb;
  --color-primary: #e4e4e7;
  --font-sans: "Inter", sans-serif;
  --font-heading: "Playfair Display", serif;
  --spacing: 0.25rem;
}

/* Base resets */
@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-background);
    color: var(--color-foreground);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
  }
}
